a{
    color: #000000;
}
.menu-back{
    background-color: aliceblue;
}
.sec-menu{
    background-color: aliceblue;
    border-color: aliceblue;
}
.sec-menu:hover{
    background-color: aliceblue;
    border-color: aliceblue;
}
.btn-one{
    text-align: center;
}
.middle{
    text-align: center;
}
.black-background{
    background-color: black;
}
.heading-btn{
    border-top: .002rem solid #f0f8ff;
    border-bottom: .002rem solid #f0f8ff;
    border-radius: 4px;
}
.light-ash{
    background-color: #CCCCCC;
}
.review-box{
    border: 2px solid #808080ad;
    border-radius: 5px;
    height: 4rem;
}
.rate-plan{
    height: 18rem;
    border: 2px solid #808080ad;
    border-radius: 5px;

}
.service-feature{
    height: 30rem;
    border: 2px solid #808080ad;
    border-radius: 5px; 
}
.no-border{
    border: none;
    font-size: 20px;
}
.rside{
    text-align: right;
}
.more-btn{
    font-style: normal;
    text-decoration: none;
    color: #a59e9e;
    font-size: 1.25rem;
    position: absolute;
    top: 100%;
    left: 84%;
}
@media (max-width: 1060px) { 
    .more-btn{
        font-style: normal;
        text-decoration: none;
        color: #a59e9e;
        font-size: 1.25rem;
        position: absolute;
        top: 100%;
        /* left: 50%; */
    }
 }
 @media (max-width: 988px) { 
    .more-btn{
        font-style: normal;
        text-decoration: none;
        color: #a59e9e;
        font-size: 1.25rem;
        position: absolute;
        top: 100%;
        left: 2%;
    }
 }

.more-btn-text a{
    text-decoration: none;
    color: #a59e9e;
    font-size: 1.25rem;
}
.sec-menu{
    color: #a59e9e;
}
.more a{
    text-decoration: none;
}
.more a:hover{
    color: #a59e9e;
}
.pic-1{
    width: 100%;
    height: auto;
    background-image: url('../images/mini-banner-1.png');
}
.pic-2{
    width: 100%;
    height: auto;
    background-image: url('../images/mini-banner-2.png');
}
.border-round{
    border: 1px solid grey;
    text-align: center;
}
.h-menu a{
 text-decoration: none;
}



    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: rgb(58, 39, 39);
    border: 0;
    outline: 0;
    background: none;
    width: 50%
    /* caret-color:transparent; */
    /* line-height: 20px; */
    /* font-size: 14px; */
    /* transition: width 0.4s linear; */
    }

    .searchbar:hover > .search_icon{
        background: white;
        color: #312c2c;
        }
    .searchbar > .search_icon{
    background: white;
    color: #312c2c;
    }

    .search_icon{
    height: 17px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }

    .searchbar {
        margin-bottom: auto;
        margin-top: auto;
        height: 40px;
        background-color: #ffffff;
        border-radius: 30px;
        padding: 10px;
        border: 1px solid grey;
    }

    .trainer_details {
        height: 13rem;
        border: 2px solid #808080ad;
        border-radius: 5px;
    }


    body {
	    margin-bottom: 40px;
		margin-top: 40px;
		text-align: center;
		font-size: 14px;
		font-family: 'Roboto', sans-serif;
		/*background:url(http://www.digiphotohub.com/wp-content/uploads/2015/09/bigstock-Abstract-Blurred-Background-Of-92820527.jpg);*/
		}
		
	#wrap {
		width: 1100px;
		margin: 0 auto;
		}
		
	#external-events {
		float: left;
		width: 150px;
		padding: 0 10px;
		text-align: left;
		}
		
	#external-events h4 {
		font-size: 16px;
		margin-top: 0;
		padding-top: 1em;
		}
		
	.external-event { /* try to mimick the look of a real event */
		margin: 10px 0;
		padding: 2px 4px;
		background: #3366CC;
		color: #fff;
		font-size: .85em;
		cursor: pointer;
		}
		
	#external-events p {
		margin: 1.5em 0;
		font-size: 11px;
		color: #666;
		}
		
	#external-events p input {
		margin: 0;
		vertical-align: middle;
		}

	#calendar {
/* 		float: right; */
        margin: 0 auto;
		width: 900px;
		background-color: #FFFFFF;
		  border-radius: 6px;
        box-shadow: 0 1px 2px #C3C3C3;
		-webkit-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
-moz-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
        }
        



        /* admin css */


nav > .nav.nav-tabs{

    border: none;
      color:#fff;
      background:#272e38;
      border-radius:0;
  
  }
  nav > div a.nav-item.nav-link,
  nav > div a.nav-item.nav-link.active
  {
    border: none;
      padding: 18px 25px;
      color:#fff;
      background:#272e38;
      border-radius:0;
  }
  
  nav > div a.nav-item.nav-link.active:after
   {
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #e74c3c ;
  }
  .tab-content{
    background: #fdfdfd;
      line-height: 25px;
      border: 1px solid #ddd;
      border-top:5px solid #e74c3c;
      border-bottom:5px solid #e74c3c;
      padding:30px 25px;
  }
  
  nav > div a.nav-item.nav-link:hover,
  nav > div a.nav-item.nav-link:focus
  {
    border: none;
      background: #e74c3c;
      color:#fff;
      border-radius:0;
      transition:background 0.20s linear;
  }
  

        /* end admin css */



