.menu-back{
    background-color: aliceblue;
}
.sec-menu{
    background-color: aliceblue;
    border-color: aliceblue;
}
.sec-menu:hover{
    background-color: aliceblue;
    border-color: aliceblue;
}
.btn-one{
    text-align: center;
}
.middle{
    text-align: center;
}
.black-background{
    background-color: black;
}
.heading-btn{
    border-top: .002rem solid #f0f8ff;
    border-bottom: .002rem solid #f0f8ff;
    border-radius: 4px;
}
.light-ash{
    background-color: #CCCCCC;
}
.review-box{
    border: 2px solid #808080ad;
    border-radius: 5px;
    height: 4rem;
}
.rate-plan{
    height: 18rem;
    border: 2px solid #808080ad;
    border-radius: 5px;

}
.service-feature{
    height: 30rem;
    border: 2px solid #808080ad;
    border-radius: 5px; 
}
.no-border{
    border: none;
    font-size: 20px;
}
.rside{
    text-align: right;
}
.more-btn{
    font-style: normal;
    text-decoration: none;
    color: #a59e9e;
    font-size: 1.25rem;
}
.more-btn-text a{
    text-decoration: none;
    color: #a59e9e;
    font-size: 1.25rem;
}
.sec-menu{
    color: #a59e9e;
}
.more a{
    text-decoration: none;
}
.more a:hover{
    color: #a59e9e;
}
.pic-1{
    width: 100%;
    height: auto;
    background-image: url('../images/mini-banner-1.png');
}
.pic-2{
    width: 100%;
    height: auto;
    background-image: url('../images/mini-banner-2.png');
}
.border-round{
    border: 1px solid grey;
    text-align: center;
}
.h-menu a{
 text-decoration: none;
}



    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: rgb(58, 39, 39);
    border: 0;
    outline: 0;
    background: none;
    width: 50%
    caret-color:transparent;
    /* line-height: 20px; */
    /* font-size: 14px; */
    /* transition: width 0.4s linear; */
    }

    .searchbar:hover > .search_icon{
        background: white;
        color: #312c2c;
        }
    .searchbar > .search_icon{
    background: white;
    color: #312c2c;
    }

    .search_icon{
    height: 17px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }

    .searchbar {
        margin-bottom: auto;
        margin-top: auto;
        height: 40px;
        background-color: #ffffff;
        border-radius: 30px;
        padding: 10px;
        border: 1px solid grey;
    }

    .trainer_details {
        height: 13rem;
        border: 2px solid #808080ad;
        border-radius: 5px;
    }



